<!DOCTYPE html><html lang="zh-CN"><head data-base="/">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="renderer" content="webkit"> 
  <title>3c电子产品铝合金外壳cnc加工的转变-伟创业</title>
<meta name="keywords" content="铝合金外壳cnc加工">
<meta name="description" content="在个性化定制的时代，伟创业提供了基于十多年的铝合金外壳加工经验,为客户提供更好的3c电子产品铝合金外壳cnc加工服务。">
<link href="assets/vendor/css/reset.css" rel="stylesheet"> 
  <script src="assets/vendor/js/nsw.pc.min.js"></script> 
  <link href="assets/vendor/612ee287e4b0105248615501.css" rel="stylesheet">
   
  
   <link rel="stylesheet" href="assets/brand.css?v=1005c448">
  <script src="assets/brand.js?v=c157b578" defer></script>
</head> 
 <body class="body-color"> 
  <div> 
 <header class="topWrap"> 
  <div class="twz"> 
   <div class="header"> 
    <span class="fr"><a href="2de44edbed3e.html" target="_blank" title="在线留言">在线留言</a><a href="5f69e50b152b.html" target="_blank" title="联系我们">联系我们</a><a href="javascript:addBookmark(this);" rel="sidebar" title="收藏网站">收藏网站</a><a href="4a2a6c012099.html" target="_blank" title="网站地图">网站地图</a></span>CNC加工厂家选择伟创业，专注于铝合金cnc加工，数控车床加工,五轴cnc机加工多年，130台数控CNC机床,精度0.005mm
   </div> 
  </div> 
  <div class="h-nr"> 
   <div class="header"> 
    <div class="hd-logo wow fadeInLeft"><a href="808bc58e7137.html" title=""><img alt="东莞市伟创业精密制造有限公司" src="assets/logo-stack.png?v=51bfce19" title="东莞市伟创业精密制造有限公司" width="560" height="242"></a></div> 
    <div class="menu"> 
     <div class="hd-nr"> 
      <h2 class="hd-txt wow fadeInLeft"><b>14年专注品牌商高质量铝合金外壳cnc加工</b>精密外观件加工伟创业，苹果级的质量、原子钟的精度。</h2> 
      <div class="hd-tel wow fadeInRight"> 
       <span>24小时热线：</span> 
       <b>13713789281</b> 
      </div> 
     </div> 
     <ul> 
       
       <li class="nli home"> <a href="808bc58e7137.html" rel="" title="伟创业首页"><i></i>伟创业首页</a> </li> 
       
       <li class="nli"> <a href="03d2ccdbdc89.html" rel="" title="CNC加工">CNC加工</a> </li> 
       
       <li class="nli"> <a href="bb17c726b134.html" rel="" title="数控车床加工">数控车床加工</a> </li> 
       
       <li class="nli"> <a href="bf0a6757b01a.html" rel="" title="精密零件">精密零件</a> </li> 
       
       <li class="nli"> <a href="9e5a9fa4618e.html" rel="" title="铝合金外壳">铝合金外壳</a> </li> 
       
       <li class="nli"> <a href="b3962d9ef014.html" rel="" title="应用案例">应用案例</a> </li> 
       
       <li class="nli"> <a href="e160be1cfadb.html" rel="" title="资讯百科">资讯百科</a> </li> 
       
       <li class="nli"> <a href="6ab4a3ddac8d.html" title="关于伟创业">关于伟创业</a> </li> 
       
       <li class="nli"> <a href="5f69e50b152b.html" title="联系伟创业">联系伟创业</a> </li> 
       
       <li class="nli nones"> <a href="cec51ec2c387.html" rel="" title="创始人专栏">创始人专栏</a> </li> 
       
     </ul> 
    </div> 
   </div> 
  </div> 
 </header> 
  
  
</div> 
  <div> 
 <div class="ty-banner-1"> 
   
   <a href="e160be1cfadb.html" title="了解铝合金CNC加工动态 掌握行业风向-伟创业"> <img alt="了解铝合金CNC加工动态 掌握行业风向-伟创业" src="assets/vendor/resource/images/69eef29b696a4073b6e51441697c1129_2.jpg" title="了解铝合金CNC加工动态 掌握行业风向-伟创业" width="1600" height="333"> </a> 
    
   
   
 </div> 
</div> 
  <div> 
 <div class="p101-search-1"> 
  <div class="blk-main"> 
   <p> <b>热搜关键词：</b> 
     
     <a href="9e5a9fa4618e.html" onclick="searchLink(this);" title="铝外壳加工">铝外壳加工</a> 
     
     
     <a href="9e5a9fa4618e.html" onclick="searchLink(this);" title="铝合金外壳加工">铝合金外壳加工</a> 
     
     
     <a href="03d2ccdbdc89.html" onclick="searchLink(this);" title="高精密铝件加工">高精密铝件加工</a> 
     
     
     <a href="03d2ccdbdc89.html" onclick="searchLink(this);" title="铝件cnc加工">铝件cnc加工</a> 
     </p> 
   <div class="p101-search-1-inp"> 
    <input class="p101-search-1-inp1" id="key" placeholder="请输入您要搜索的关键词" type="text"> 
    <input class="p101-search-1-inp2" onclick="searchInfo();" type="button"> 
   </div> 
   <div class="clear"></div> 
  </div> 
 </div> 
  
  
</div> 
  <div class="blk-main"> 
   <div class="plc"> 
 <div class="p102-curmbs-1" navcrumbs=""> 
  <b>您当前的位置：</b> 
  <a href="808bc58e7137.html" title="首页"> 首页 </a> 
  <span> &gt; </span> 
   
   <i class=""> <a href="e160be1cfadb.html" title="资讯频道"> 资讯频道 </a> <span> &gt; </span> </i> 
   
   <i class=""> <a href="91bc861917f8.html" title="资讯百科"> 资讯百科 </a> <span> &gt; </span> </i> 
   
   <i class="p12-curblock"> <a href="38503cff5401.html" title="伟创业动态"> 伟创业动态 </a> <span> &gt; </span> </i> 
   
   <i class=""> <a href="69b422a8b14f.html" title="3c电子产品铝合金外壳cnc加工的转变-伟创业"> 3c电子产品铝合金外壳cnc加工的转变-伟创业 </a>  </i> 
   
 </div> 
</div> 
 
   <div class="clear"></div> 
   <div class="blk-sm fr"> 
    <div class="zxxq-01 blk"> 
 <h1 title="3c电子产品铝合金外壳cnc加工的转变-伟创业" class="zxxq-01-tit">
   3c电子产品铝合金外壳cnc加工的转变-伟创业 
 </h1> 
 <div class="zxxq-01-sour"> 
  <span> 作者： <a href="808bc58e7137.html" target="_blank"> 铝合金外壳cnc加工www.伟创业.com </a> 
   </span> 
  <span> 编辑：  
   
      
   </span> 
  <span> 来源：  
   
      
   </span> 
  <span> 发布日期： 2022.03.12 </span> 
 </div> 
 <div class="zxxq-01-text"> 
  <div class="zxxq-01-text-t1">
    信息摘要： 
  </div> 
  <div class="zxxq-01-text-t2">在个性化定制的时代，伟创业提供了基于十多年的铝合金外壳加工经验,为客户提供更好的3c电子产品铝合金外壳cnc加工服务。</div> 
  <div class="clear"> 
  </div> 
 </div> 
 <div class="zxxq-01-desc endit-content">3c电子产品铝合金外壳<a class="tilisoftStation" href="03d2ccdbdc89.html" style="color:red;font-weight:bold" target="_blank" title="cnc加工">cnc加工</a><br>
<p>
    在重视用户体验的时代，越来越多的手机、笔记本电脑和可穿戴设备厂商开始在产品外壳材料上发力。从手机来看，手机外壳的材质也在逐渐从工程塑料向金属转变。
</p>
<p class="img-block">
    <img align="center" alt="3c电子产品铝合金外壳cnc加工的转变-伟创业" src="assets/vendor/resource/images/1eb01e78834642cb8a30887f762ada9d_2.jpg" title="3c电子产品铝合金外壳cnc加工的转变-伟创业" width="800" height="299">
</p>
在手机外壳材料的演变过程中，出现了多种组合方式：塑料与金属、玻璃与金属、全塑料、全玻璃等，但并未涵盖全金属材料的终结。从实际的触控体验来看，全金属手机确实在很多方面都有很棒的体验。它们在外观和手感上都优于其他材料。<br> 当提到所有金属时，就需要<a class="tilisoftStation" href="03d2ccdbdc89.html" style="color:red;font-weight:bold" target="_blank" title="cnc加工">cnc加工</a>。目前，3c产品的全金属外壳基本采用计算机数控机床CNC加工。cnc加工因其高效率、高精度和稳定的加工质量，成为3c外壳厂商必备的设备。 <br> 常用的不锈钢框架加工工艺是锻造+CNC工艺，锻造是金属压力加工方法之一。利用压力改变金属材料的形状以获得具有一定力学性能、形状和尺寸的锻件的工艺。手机边框锻压+CNC全流程主要包括锻造、喷砂、cnc加工、纳米注塑、阳极氧化、后处理6大工序。
<br>
<p>
    在个性化定制的时代，伟创业提供了基于十多年的广泛服务。) 和直径从 .145 英寸（5 毫米）到 2.5 英寸（65 毫米）。它可以完成金属手机外壳的精细结构，为客户提供更好的3c电子产品<a class="attach inline_attach" href="808bc58e7137.html" target="_blank" title="铝合金外壳cnc加工">铝合金外壳cnc加工</a>服务。
</p>
<p>
    <br>
</p>
<p>
    <span style="color:#FFFFFF;">3c电子产品铝合金外壳cnc加工</span><span style="color:#FFFFFF;">3c电子产品铝合金外壳cnc加工</span><span style="color:#FFFFFF;">3c电子产品铝合金外壳cnc加工</span>
</p>
<div style="white-space:nowrap;">
    <br>
</div></div> 
 <div class="clear"></div> 
  
</div> 
    <div class="xgzx-pagin-01 blk"> 
 <dl> 
  <dd> 
   <b><em><a href="640555067aba.html" title="精密零件cnc加工加工工艺，您了解多少？"> 查看详情 + </a></em></b> 
   <span> 上一条 </span> 
   <a href="640555067aba.html" title="精密零件cnc加工加工工艺，您了解多少？"> 精密零件cnc加工加工工艺，您了解多少？ </a> 
  </dd> 
  <dt></dt> 
  <dd> 
   <b><em><a href="#" title="cnc加工的优势-伟创业" data-stub="1" rel="nofollow"> 查看详情 + </a></em></b> 
   <span> 下一条 </span> 
   <a href="#" title="cnc加工的优势-伟创业" data-stub="1" rel="nofollow"> cnc加工的优势-伟创业 </a> 
  </dd> 
 </dl> 
 <div class="xgzx-pagin-01-href"> 
  <span><a href="38503cff5401.html" title="返回列表"> 返回列表 </a></span> 
 </div> 
 <div class="xgzx-pagin-01-key"> 
  <p> 本文标签： 
    
     
     <span><a href="9e5a9fa4618e.html" title="铝合金外壳cnc加工"> 铝合金外壳cnc加工 </a></span> 
     
    </p> 
 </div> 
 <div class="clear"> 
 </div> 
  
</div> 
    <div class="xgzx-01 blk"> 
 <h3 class="xgzx-01-tit"> 【相关推荐】 </h3> 
 <div class="xgzx-01-list"> 
  <ul> 
    
    <li> <h4><a href="401aa1435531.html" target="_blank" title="批量铝合金cnc加工-一个解决问题的厂家-伟创业"><span> 了解详情 &gt; </span> 批量铝合金cnc加工-一个解决问题的厂家-伟创业 </a></h4> </li> 
    
    <li> <h4><a href="99f53949e0fb.html" target="_blank" title="批量铝件cnc加工厂家-更快并准确获得报价-伟创业"><span> 了解详情 &gt; </span> 批量铝件cnc加工厂家-更快并准确获得报价-伟创业 </a></h4> </li> 
    
    <li> <h4><a href="69b422a8b14f.html" target="_blank" title="3c电子产品铝合金外壳cnc加工的转变-伟创业"><span> 了解详情 &gt; </span> 3c电子产品铝合金外壳cnc加工的转变-伟创业 </a></h4> </li> 
    
  </ul> 
 </div> 
  
</div> 
   </div> 
   <div class="blk-xs fl"> 
    <div class="p103-fdh-1"> 
 <div class="p103-fdh-1-tit"> 
  <h2>伟创业资讯中心</h2> 
 </div> 
 <div class="p103-fdh-1-nav" navvicefocus1=""> 
   
   <div class="p103-fdh-1-nav-one"> 
    <h3><a href="91bc861917f8.html" title="资讯百科">资讯百科</a><i></i></h3> 
    <dl style="display: block"> 
      
      <dt> 
       <a href="38503cff5401.html" title="伟创业动态">伟创业动态</a> 
      </dt> 
      
      <dt> 
       <a href="44bce40e1990.html" title="技术百科">技术百科</a> 
      </dt> 
      
      <dt> 
       <a href="7ba3c7011394.html" title="常见问答">常见问答</a> 
      </dt> 
      
      <dt> 
       <a href="6413a28794cc.html" title="表面处理">表面处理</a> 
      </dt> 
      
    </dl> 
   </div> 
   
   <div class="p103-fdh-1-nav-one"> 
    <h3><a href="b3962d9ef014.html" title="客户案例">客户案例</a><i></i></h3> 
    <dl style="display: block"> 
      
      <dt> 
       <a href="bf223f29b50a.html" title="电子产品">电子产品</a> 
      </dt> 
      
      <dt> 
       <a href="07f1375564e7.html" title="汽车行业">汽车行业</a> 
      </dt> 
      
      <dt> 
       <a href="ef31cd7908b2.html" title="通讯行业">通讯行业</a> 
      </dt> 
      
      <dt> 
       <a href="0d0fa4d07840.html" title="医疗行业">医疗行业</a> 
      </dt> 
      
      <dt> 
       <a href="5b9b130c1e23.html" title="半导体行业">半导体行业</a> 
      </dt> 
      
      <dt> 
       <a href="9179cb07c1cf.html" title="军工行业">军工行业</a> 
      </dt> 
      
    </dl> 
   </div> 
   
   <div class="p103-fdh-1-nav-one"> 
    <h3><a href="cec51ec2c387.html" title="创始人专栏">创始人专栏</a><i></i></h3> 
     
   </div> 
   
 </div> 
</div> 
 
 
    <div> 
 <div class="p14-pro-1 blk"> 
  <div class="p14-pro-1-tit">
    推荐产品 
  </div> 
  <div class="p14-pro-1-list"> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="95fd48bcec0f.html" target="_blank" title="激光器外壳高精CNC加工定制厂家"><img aa-replace-tag="img" alt="激光器外壳高精CNC加工定制厂家" src="assets/vendor/resource/images/da5ef52efd264b57a25b194ee0c1c607_27.jpg" width="600" height="450"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="95fd48bcec0f.html" target="_blank" title="激光器外壳高精CNC加工定制厂家">激光器外壳高精CNC加工定制厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="9c8ad88e0bfc.html" target="_blank" title="光学仪器外壳CNC高精加工厂家"><img aa-replace-tag="img" alt="光学仪器外壳CNC高精加工厂家" src="assets/vendor/resource/images/da5ef52efd264b57a25b194ee0c1c607_21.jpg" width="600" height="450"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="9c8ad88e0bfc.html" target="_blank" title="光学仪器外壳CNC高精加工厂家">光学仪器外壳CNC高精加工厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="e6a2b7a73016.html" target="_blank" title="高精度摄像头铝合金CNC加工定制快速打样厂家"><img aa-replace-tag="img" alt="高精度摄像头铝合金CNC加工定制快速打样厂家" src="assets/vendor/resource/images/da5ef52efd264b57a25b194ee0c1c607_15.jpg" width="600" height="450"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="e6a2b7a73016.html" target="_blank" title="高精度摄像头铝合金CNC加工定制快速打样厂家">高精度摄像头铝合金CNC加工定制快速打样厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="aab908a6dfce.html" target="_blank" title="显微镜外壳6061高精度CNC加工定制厂家"><img aa-replace-tag="img" alt="显微镜外壳6061高精度CNC加工定制厂家" src="assets/vendor/resource/images/da5ef52efd264b57a25b194ee0c1c607_9.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="aab908a6dfce.html" target="_blank" title="显微镜外壳6061高精度CNC加工定制厂家">显微镜外壳6061高精度CNC加工定制厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="58b251cf39ee.html" target="_blank" title="光学级望远镜外壳CNC加工定制厂家"><img aa-replace-tag="img" alt="光学级望远镜外壳CNC加工定制厂家" src="assets/vendor/resource/images/da5ef52efd264b57a25b194ee0c1c607_3.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="58b251cf39ee.html" target="_blank" title="光学级望远镜外壳CNC加工定制厂家">光学级望远镜外壳CNC加工定制厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="1696cfe7728b.html" target="_blank" title="机器人减速器外壳车铣复合加工厂家"><img aa-replace-tag="img" alt="机器人减速器外壳车铣复合加工厂家" src="assets/vendor/resource/images/ed68bc8269144f0a8800d2c9ffef82e2_31.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="1696cfe7728b.html" target="_blank" title="机器人减速器外壳车铣复合加工厂家">机器人减速器外壳车铣复合加工厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="0a8d1ef94382.html" target="_blank" title="机器人齿轮箱精密CNC加工定制厂家"><img aa-replace-tag="img" alt="机器人齿轮箱精密CNC加工定制厂家" src="assets/vendor/resource/images/ed68bc8269144f0a8800d2c9ffef82e2_25.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="0a8d1ef94382.html" target="_blank" title="机器人齿轮箱精密CNC加工定制厂家">机器人齿轮箱精密CNC加工定制厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="4d54b5f8a499.html" target="_blank" title="机器人腰转部件高精CNC加工厂家"><img aa-replace-tag="img" alt="机器人腰转部件高精CNC加工厂家" src="assets/vendor/resource/images/ed68bc8269144f0a8800d2c9ffef82e2_19.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="4d54b5f8a499.html" target="_blank" title="机器人腰转部件高精CNC加工厂家">机器人腰转部件高精CNC加工厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="8345db5b98fe.html" target="_blank" title="机器人底座法兰CNC加工定制厂家"><img aa-replace-tag="img" alt="机器人底座法兰CNC加工定制厂家" src="assets/vendor/resource/images/ed68bc8269144f0a8800d2c9ffef82e2_13.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="8345db5b98fe.html" target="_blank" title="机器人底座法兰CNC加工定制厂家">机器人底座法兰CNC加工定制厂家</a></h4> 
     </dd> 
    </dl> 
    
    <dl> 
     <dt> 
      <a aa-replace-tag="a_img" href="00bfb027b005.html" target="_blank" title="机器人手臂CNC铝合金加工厂家"><img aa-replace-tag="img" alt="机器人手臂CNC铝合金加工厂家" src="assets/vendor/resource/images/ed68bc8269144f0a8800d2c9ffef82e2_7.jpg" width="600" height="450" loading="lazy" decoding="async"></a> 
     </dt> 
     <dd> 
      <h4><a aa-replace-tag="a_all" href="00bfb027b005.html" target="_blank" title="机器人手臂CNC铝合金加工厂家">机器人手臂CNC铝合金加工厂家</a></h4> 
     </dd> 
    </dl> 
    
  </div> 
 </div> 
  
  
</div> 
    <div class="cbgg-01"> 
 <div class="cbgg-01-img"> 
  <img src="assets/img/wcy_tel-pic.jpg" alt="客服人员形象" title="客服人员形象" width="240" height="171" loading="lazy" decoding="async"> 
 </div> 
 <p><img alt="五轴cnc加工厂家" src="assets/vendor/images/prolist4.png" width="28" height="27" loading="lazy" decoding="async">全国服务热线</p> 
 <span>13713789281</span> 
  
</div> 
    <div class="p102-info-label blk"> 
 <h2 class="p102-pro-related-title"><span>热门搜索</span><a href="38503cff5401.html" title="伟创业动态">+</a></h2> 
 <div class="p102-info-label-list clearafter"> 
   
   <a href="9e5a9fa4618e.html" title="铝外壳加工">铝外壳加工 </a> 
   
   <a href="9e5a9fa4618e.html" title="铝合金外壳加工">铝合金外壳加工 </a> 
   
   <a href="03d2ccdbdc89.html" title="高精密铝件加工">高精密铝件加工 </a> 
   
   <a href="03d2ccdbdc89.html" title="铝件cnc加工">铝件cnc加工 </a> 
   
 </div> 
</div> 
 
 
   </div> 
   <div class="clear"></div> 
  </div> 
  <div> 
 <footer class="footWrap"> 
  <div class="ft-nav"> 
   <div class="footers"> 
     
     <a href="808bc58e7137.html" rel="" title="伟创业首页">伟创业首页</a> 
     
     <a href="03d2ccdbdc89.html" rel="" title="CNC加工">CNC加工</a> 
     
     <a href="bb17c726b134.html" rel="" title="数控车床加工">数控车床加工</a> 
     
     <a href="fa77bda31985.html" rel="" title="零件加工">零件加工</a> 
     
     <a href="2ce0e70a0a22.html" rel="" title="样品中心">样品中心</a> 
     
     <a href="b3962d9ef014.html" rel="" title="应用案例">应用案例</a> 
     
     <a href="e160be1cfadb.html" rel="" title="资讯百科">资讯百科</a> 
     
     <a href="6ab4a3ddac8d.html" title="关于伟创业">关于伟创业</a> 
     
     <a href="5f69e50b152b.html" title="联系伟创业">联系伟创业</a> 
     
     <a href="926bd89b322f.html" rel="" target="_blank" title="网站地图">网站地图</a> 
     
   </div> 
  </div> 
  <div class="ft-con"> 
   <div class="footers"> 
    <div class="ft-beian"> 
     <a href="808bc58e7137.html"><img alt="东莞市伟创业精密制造有限公司" class="footimg" src="assets/logo-white.png?v=0dca204e" title="东莞市伟创业精密制造有限公司" width="631" height="94" loading="lazy" decoding="async"></a> 
     <p>东莞市伟创业精密制造有限公司<br> 备案号：<a href="https://beian.miit.gov.cn/#/Integrated/index" rel="nofollow" target="_blank">粤ICP备17137294号-2</a><br> <a href="javascript:void(0);" target="_blank" title="牛商股份">牛商股份</a>提供技术支持<br>  </p> 
    </div> 
    <div class="ft-contact"> 
     <ul> 
      <li><i>全国服务热线:</i><b>13713789281</b></li> 
      <li><i>公司地址：</i>深圳市光明区公明街道李松蓢社区第二工业区荣辉工业园第五栋</li> 
     </ul> 
     <!--<div class="f_wz">--> 
     <!--  主营分站： --> 
     <!-- <nsw:mainsubsite name="主营分站" var="MS" type="main" size="25"> --> 
     <!--  <a href="#" title="" data-stub="1" rel="nofollow"> </a> / --> 
     <!-- </nsw:mainsubsite> --> 
     <!-- </div> --> 
    </div> 
    <div class="ft-code"> 
     <p class="wow fadeInLeft" data-wow-delay=".2s"><img alt="伟创业铝合金cnc加工微信" src="assets/img/wcy_weixin_qr.jpg" title="伟创业铝合金cnc加工微信" width="300" height="300" loading="lazy" decoding="async"><span>伟创业</span></p> 
     <p class="wow fadeInLeft" data-wow-delay=".3s"><img alt="查看伟创业铝合金cnc加工手机官网" src="assets/placeholder/ph_mobile_qr.png" title="查看伟创业铝合金cnc加工手机官网" width="300" height="300" loading="lazy" decoding="async"><span>查看手机</span></p> 
      
    </div> 
   </div> 
  </div> 
 </footer> 
  
</div> 
  <div class="client-2"> 
 <ul id="client-2"> 
  <li class="my-kefu-qq"> 
   <div class="my-kefu-main"> 
    <div class="my-kefu-left"> 
     <a class="online-contact-btn" href="http://wpa.qq.com/msgrd?v=3&amp;uin=549481940&amp;site=qq&amp;menu=yes" qq="" target="_blank"> <i></i> <p> QQ咨询 </p> </a> 
    </div> 
    <div class="my-kefu-right"></div> 
   </div> </li> 
  <li class="my-kefu-tel"> 
   <div class="my-kefu-tel-main"> 
    <div class="my-kefu-left"> 
     <i></i> 
     <p> 服务热线 </p> 
    </div> 
    <div class="my-kefu-tel-right" phone400="">13713789281</div> 
   </div> </li> 
  <!--<li class="my-kefu-liuyan">--> 
  <!--    <div class="my-kefu-main">--> 
  <!--        <div class="my-kefu-left">--> 
  <!--            <a href="2de44edbed3e.html" title="在线留言"> <i></i>--> 
  <!--                <p> 在线留言 </p>--> 
  <!--            </a>--> 
  <!--        </div>--> 
  <!--        <div class="my-kefu-right"></div>--> 
  <!--    </div>--> 
  <!--</li>--> 
  <!--<li class="my-kefu-weixin" th:if="">--> 
  <!--    <div class="my-kefu-main">--> 
  <!--        <div class="my-kefu-left">--> 
  <!--            <i></i>--> 
  <!--            <p> 微信扫一扫 </p>--> 
  <!--        </div>--> 
  <!--        <div class="my-kefu-right">--> 
  <!--        </div>--> 
  <!--        <div class="my-kefu-weixin-pic">--> 
  <!--            --> 
  <!--        </div>--> 
  <!--    </div>--> 
  <!--</li>--> 
  <!--<li class="my-kefu-weibo" th:if="">--> 
  <!--    <div class="my-kefu-main">--> 
  <!--        <div class="my-kefu-left">--> 
  <!--            <a th:href="https://h876552657-spec.github.io/weichuang-preview/" target="_blank" href="javascript:;"> <i></i>--> 
  <!--                <p> 关注微博 </p>--> 
  <!--            </a>--> 
  <!--        </div>--> 
  <!--        <div class="my-kefu-right">--> 
  <!--        </div>--> 
  <!--    </div>--> 
  <!--</li>--> 
  <li class="my-kefu-ftop"> 
   <div class="my-kefu-main"> 
    <div class="my-kefu-left"> 
     <a href="javascript:;"> <i></i> <p> 返回顶部 </p> </a> 
    </div> 
    <div class="my-kefu-right"> 
    </div> 
   </div> </li> 
 </ul> 
  
  
</div> 
  <script src="assets/vendor/js/public.js"></script> 
  <script src="assets/vendor/612ee287e4b0105248615501.js" type="text/javascript"></script> 
   
 
<script>  var sysBasePath = null ;var projPageData = {};</script><script src="assets/vendor/js/ab77b6ea7f3fbf79.js" type="text/javascript"></script>
</body></html>